<div class="ContentDetails">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/news">News</a></li>
        <li class="breadcrumb-item active" aria-current="page">News Details</li>
      </ol>
    </nav>
    <div class="card mb-12">
      <img src="{{detailsNews.urlToImage}}" class="card-img-top" alt="...">

      <div class="card-body">
        <div class="Header-details">
          <h2>News Details</h2>
          <div class="icon-heart-share">
            <div class="i-heart">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <div>
              <i (click)="toggleShare()" class="fa fa-share-alt" aria-hidden="true"></i>
              <div [ngClass]="isShare == true ? 'CloseButtom' : 'OpenButtom'">
                <ul class="listShare">
                  <li class="I-facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </li>
                  <li class="I-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </li>
                  <li class="I-envelope">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <p class="card-text"><small class="text-muted">{{getcategoryName}}</small></p>
        <h5 class="card-title">{{detailsNews.title}}</h5>
        <p class="card-text">{{detailsNews.content}}</p>

      </div>
    </div>
  </div>
</div>
