
@import '../../styles/helper/variables';

.ContentDetails{
  background-color: #EFEFEF;
  padding-top: 120px;
  .Header-details{
    display: flex;
    justify-content: space-between;
    .icon-heart-share{
      padding: 10px 1rem;
      display: flex;
      justify-content: flex-end;
      color: $SecondColor;
      .CloseButtom{display: none;}
      .OpenButtom{display: block;position: relative;}
      .listShare{
        position: absolute;
        right: 0;
        display: flex;
        border-radius: 10px;
        z-index: 9999;
        i{color: #FFF;}
        li{padding: 0 10px;}
        .I-facebook{background-color:#2d88ff;border-radius: 4px 0 0 4px;}
        .I-twitter{background-color:#1da1f2}
        .I-envelope{background-color:#d93025;border-radius: 0 4px 4px 0}
      }
      i{
        padding:0 5px;
        cursor: pointer;
      }
    }
  }


}
