<div class="news">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">News</li>
      </ol>
    </nav>
    <h2>News</h2>
    <form class="row">
      <div class="form-row row">
        <div class=" contDateFrom col-md-2">
          <div class="form-group hidden">
            <div class="input-group">
              <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                outsideDays="hidden" [autoClose]="true" [startDate]="fromDate!" tabindex="-1">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="form-group formDateF">
            <label for="inputEmail4">From</label>
            <div class="input-group">
              <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group ml-2 col-md-2 contDateFrom">
          <label for="inputEmail4">To</label>
          <div class="input-group">
            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
              [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for=""></label>
          <div ngbDropdown class="d-inline-block divDropdown">
            <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle >{{dropdownVal}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div  *ngFor="let item of CategoryList">
                <button (click)="changeAction(item.name,item.id)" ngbDropdownItem>{{item.name}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 m-auto">
          <div class="d-flex btnNewsSearch">
            <label for=""></label>
            <input type="text" class="form-control" style="width: 80%;" [(ngModel)]="filteredString" [ngModelOptions]="{standalone: true}">
            <button type="button" class="btn btn-outline-secondary searchIcon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <div class="SortBy" style="width: 20%;">
              <p class="m-auto">
                Sort by
                <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>


      </div>

    </form>

    <div class="contentLatestNews">
      <div class="card" *ngFor="let item of data | slice: (page-1) * pageSize : page * pageSize  | filter:filteredString">
        <img src={{item.urlToImage}} class="card-img-top" alt="..." style="height: 180px;">
          <div class="icon-heart-share">
            <div class="i-heart">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <div>
              <i (click)="toggleShare()" class="fa fa-share-alt" aria-hidden="true"></i>
              <div [ngClass]="isShare == true ? 'CloseButtom' : 'OpenButtom'">
                <ul class="listShare">
                  <li class="I-facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </li>
                  <li class="I-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </li>
                  <li class="I-envelope">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title"(click)="getDet(item.id)">
              {{item.title | slice:0:40}}...
            </h5>
            <p class="tags">News</p>
            <p class="card-text">{{item.description | slice:0:80}}...</p>
            <p class="p-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              {{item.publishedAt | date:'fullDate'}}
            </p>
          </div>
      </div>
    </div>
   <div class="d-flex justify-content-center ULpagination">
      <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="data.length"></ngb-pagination>
   </div>

  </div>
</div>

