@import '../../styles/helper/variables';

.news{
  padding-top: 120px;
  background-color:#EFEFEF;
  .breadcrumb{margin-bottom: 0;}
  .contDateFrom{
    position: relative;
    .form-group.hidden {
      width: 0;
      margin: 0;
      border: none;
      padding: 0;
      margin: 24px auto;
    }
    .formDateF{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 10px;
    }
    .btn-outline-secondary{
      color: #13BEFF;
      border-color: #3838386b;
      background-color: #fff;
    }
  }
  .btnNewsSearch{
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .SortBy{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: $SecondColor;
    @media (max-width: 768px) {
     width: 24% !important;
    }
  }
  .divDropdown{
    display: flex !important;
    align-items: center;
    #dropdownBasic1{
      width: 100%;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }
  .searchIcon{
    background-color:$SecondColor;
    color: #FFF;
    margin-left: -40px;
    border: none;
  }
  .divDropdown{
    .btn-outline-primary {
      color: #AFAFAF;
      border-color: #AFAFAF;
      background-color: #FFF;
    }
  }


  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .contentLatestNews{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .card{
      width: calc((100% - 30px ) / 3);
      margin: 0 5px 20px;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
      }
      .card-title {
        a{color: #000;}
      }
      .card-body{
        padding: 00px 1rem 20px;
        .tags{
          background-color: #74747442;
          display: inline-block;
          width: auto;
          padding: 5px 20px;
          border-radius: 10px;
        }
        .card-text{color: #565960;}
        .p-date{
          color: #707070;
          font-weight: bold;
          font-size: .7em;
          margin: 0;
          i{color: $SecondColor;}
        }
      }
      .icon-heart-share{
        padding: 10px 1rem;
        display: flex;
        justify-content: flex-end;
        color: $SecondColor;
        .CloseButtom{display: none;}
        .OpenButtom{display: block;position: relative;}
        .listShare{
          position: absolute;
          right: 0;
          display: flex;
          border-radius: 10px;
          i{color: #FFF;}
          li{padding: 0 10px;}
          .I-facebook{background-color:#2d88ff;border-radius: 4px 0 0 4px;}
          .I-twitter{background-color:#1da1f2}
          .I-envelope{background-color:#d93025;border-radius: 0 4px 4px 0}
        }
        i{
          padding:0 5px;
          cursor: pointer;
        }
      }
    }
  }
  .ULpagination{
    padding: 30px 0;
    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }
}
