<div class="sliderHome">
  <swiper [navigation]="true"[pagination]="{ clickable: true }" class="mySwiper">
    <ng-template swiperSlide>
      <img src="../../../assets/bg.png" alt="">
      <div class="contnetSlider">
        <h4>
          Al Foundation
        </h4>
        <p>is focused on inspiring the next generation of  kids Healthcare professionals.</p>
        <button class="btn btn-Now">Donate Now</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/bg.png" alt="">
      <div class="contnetSlider">
        <h4>
          Al Foundation
        </h4>
        <p>is focused on inspiring the next generation of  kids Healthcare professionals.</p>
        <button class="btn btn-Now">Donate Now</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/bg.png" alt="">
      <div class="contnetSlider">
        <h4>
          Al Foundation
        </h4>
        <p>is focused on inspiring the next generation of  kids Healthcare professionals.</p>
        <button class="btn btn-Now">Donate Now</button>
      </div>
    </ng-template>
  </swiper>
</div>
