<div class="LatestNews">
  <div class="container">
    <div class="Header-latset">
      <h3>Latest News</h3>
      <a routerLink="/news">View All <img src="../../../assets/arrow.png" alt=""></a>
    </div>
    <div class="contentLatestNews">
      <div class="card" *ngFor="let item of data"  [ngClass]="{'d-none': item.showOnHomepage === false}">
        <div *ngIf="item.showOnHomepage === true">
           <img src={{item.urlToImage}} class="card-img-top" alt="..." style="height: 180px;">
            <div class="icon-heart-share">
              <div class="i-heart">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </div>
              <div>
                <i (click)="toggleShare()" class="fa fa-share-alt" aria-hidden="true"></i>
                <div [ngClass]="isShare == true ? 'CloseButtom' : 'OpenButtom'">
                  <ul class="listShare">
                    <li class="I-facebook">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>
                    <li class="I-twitter">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </li>
                    <li class="I-envelope">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{item.title | slice:0:40}}...
             </h5>
              <p class="tags">News</p>
              <p class="card-text">{{item.description | slice:0:80}}...</p>
              <p class="p-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{item.publishedAt | date:'fullDate'}}
              </p>
            </div>

        </div>
      </div>


    </div>
  </div>
</div>
