/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../src/app/styles/main/main.scss';

ul{list-style:none;padding:0;margin: 0;}
a{text-decoration: none;}
.card-title{cursor: pointer;}
