<footer>
  <div class="container">
    <div class="contentFooter">
      <ul class="columnFooter">
        <li>
          News
        </li>
        <li>
          Events
        </li>
        <li>
          About
        </li>
        <li>
          FAQs
        </li>
      </ul>
      <ul class="columnFooter">
        <li>
          Privacy Policy
        </li>
        <li>
          Contact Us
        </li>
        <li>
          Complains
        </li>
      </ul>
      <div class="input-group inputFooter columnFooter flex-column">
        <label for="" style="display: block;margin-bottom: 10px;">Subscribe to Newsletter</label>
        <div class="d-flex">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Subscribe</span>
            </div>
        </div>
      </div>
      <div class="FollowUs columnFooter flex-column">
        <p>Follow us on</p>
        <ul class="d-flex">
          <li>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="rightsFooter">
    <p>All rights reserved - Link Development Company © 2020</p>
  </div>
</footer>


